In [19]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML

In [32]:
df = pd.DataFrame({'col1' : ['a', 'a', 'a', 'b', 'b'], 'col2' : ['c', 'c', 'd', 'e', 'e'], 'col3' : range(5)})
df

  col1 col2  col3
0    a    c     0
1    a    c     1
2    a    d     2
3    b    e     3
4    b    e     4

In [5]:
df.groupby('col1')['col3'].max() # retourne pandas.core.series.Series à une valeur par groupe et indexée par les groupes

col1
a    2
b    4
Name: col3, dtype: int64

In [9]:
df.groupby(['col1', 'col2'])['col3'].max()
# retourne pandas.core.series.Series à une valeur par groupe et indexée par les groupes (multiindex)
# On peut récupérer une série simple avec .reset_index(drop=True)

0    1
1    2
2    4
Name: col3, dtype: int64

apply : peut être appliqué sur des colonnes choisies et non l'ensemble du Dataframe ? Les arguments passées à la fonction sont des Series (ou un ndarray si raw = True) correspondant à chaque ligne / colonne. Possibilité de faire avec groupBy.
applymap : plus simple que apply, prend simplement en argument une fonction qui a un élément du dataframe associe une seule valeur. 
Rappel : de nombreuses opérations récurrentes disposent de fonctions vectorisées bien plus rapides que le combo apply + func. Force une écriture type d['col'] = df['col']+1 ? Pas de possibilité de piper ?
=> fonction pipe qui permet de chainer l'applications de fonctions attendant une Series, un Dataframe ou un GroupBy object
f(g(df), arg1=a) équivalent à df.pipe(g).pipe(f, arg1=a)
agg ou aggregate (l'un est un alias pour l'autre) :

In [ ]:
df.apply(lambda x : x + 1 )

Si on passe à .agg une UDF, il lui est passé une Series

```df.groupby('col1')``` retourne un objet ```GroupBy```

In [15]:
df.groupby('col1', as_index=False).agg({'col2' : ['max', 'min']}) # dict {string col name : string func name list}

  col1 col2
        max min
0    a    2   0
1    b    4   3

In [17]:
df.groupby('col1', as_index=False).agg({'col2' : [max, min]})  # dict {string col name : func name list}

  col1 col2
        max min
0    a    2   0
1    b    4   3

In [18]:
df.groupby('col1', as_index=False).agg({'col2' : 'max'}) # dict {string col name : string func name}

  col1  col2
0    a     2
1    b     4

In [16]:
df.groupby('col1', as_index=False).agg({'col2' : max}) # dict {string col name : func name}

  col1  col2
0    a     2
1    b     4

Voir si on ne peut pas faire une string col names list associée à une function list => les string list peuvent permettre de faire l'équivalent de mutate_at.
https://stackoverflow.com/questions/44635626/rename-result-columns-from-pandas-aggregation-futurewarning-using-a-dict-with
https://github.com/pandas-dev/pandas/issues/18366
https://sotte.github.io/dplyr-for-python.html

In [21]:
df.groupby('col1', as_index=False).agg({'col2' : {'maxcol' : max, 'mincol' : 'min'}})
# sinon on doit utiliser rename

C:\Users\Pierre\Anaconda3\lib\site-packages\pandas\core\groupby\groupby.py:4658: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

  col1   col2
       maxcol mincol
0    a      2      0
1    b      4      3

In [4]:
df.transform({'col2' : lambda x : x + 'x', 'col3' : lambda x : x**2}) # Problème, ne permet qu'une transfo par colonne. Si on passe juste une fonction
# l'applique à toute la table. On ne peut par créer une

  col2  col3
0   cx     0
1   cx     1
2   dx     4
3   ex     9
4   ex    16

In [ ]:
df.transform({'col2' : lambda x : x + 'x', 'col3' : lambda x : x**2})

In [25]:
df.agg.__module__

'pandas.core.frame'

In [22]:
df['col3'].transform([np.sqrt, np.exp])

       sqrt        exp
0  0.000000   1.000000
1  1.000000   2.718282
2  1.414214   7.389056
3  1.732051  20.085537
4  2.000000  54.598150

In [14]:
# Avec une fonction d'aggrégation, x correspond à la colonne entière et non à chaque élément 
# En fait la fonction doit pouvoir s'appliquer directement sur l'objet (colonne (Series ?) ou DataFrame) ou via .apply()
df.transform({'col2' : lambda x : x + 'x', 'col3' : lambda x : x**2}) # Problème, ne permet qu'une transfo par colonne. Si on passe juste une fonction
# l'applique à toute la table. On ne peut par créer une 
# Transform retourne un objet (à l'index) de même longueur et si possible de même type que celui sur lequel elle est appliquée. 
df['col3'].transform(lambda x : x**2) # Prend une Series, retourne une Series de même longueur
df['col3'].transform([np.sqrt, np.exp]) # Retourne un DataFrame où les colonnes sont nommées avec l'attribut __name__ de chaque fonction passée
# On peut s'en servir avec GroupBy (car appelle en fait .agg) mais on obtiendra pas une ligne par groupe

# En fait transform appelle .agg : transform(self, func, *args, **kwargs) ne fait qu'appeler self.agg(func, *args, **kwargs)

# https://pandas.pydata.org/pandas-docs/stable/groupby.html#transformation

  col2  col3
0   cx     0
1   cx     1
2   dx     4
3   ex     9
4   ex    16

In [62]:
# df['col3'].agg(lambda x : x**2)

df.transform({'col2' : lambda x : x + 'x', 'col3' : max}) # marche 
df.transform({'col3' : max}) # Ne marche pas : ValueError: transforms cannot produce aggregated results

  col2  col3
0   cx     4
1   cx     4
2   dx     4
3   ex     4
4   ex     4

In [5]:
# df.groupby('col1', as_index=False)['col3'].transform([np.mean, max]) # Ne marche pas 
# df['col4'] = df.groupby('col1', as_index=False)['col3'].transform(max)

df.groupby('col1', as_index=False)['col3'].transform(max) # Marche, équivalent à groupby + mutate(col3 = aggfunc)
df.groupby('col1', as_index=False)['col3'].transform(lambda x : x + max(x)) # Marche, équivalent à groupby + mutate(col3 = func(col3))

   col3
0     2
1     3
2     4
3     7
4     8

In [18]:
df

  col1 col2  col3
0    a    c     0
1    a    c     1
2    a    d     2
3    b    e     3
4    b    e     4

In [17]:
df.groupby('col1', as_index=False).transform(max) # mais .transform({'col3' : max}) ou .transform([min, max]) ne marchent pas

  col2 col3
0    d    2
1    d    2
2    d    2
3    e    4
4    e    4

In [36]:
df.groupby('col1', as_index=False)['col3'].agg(max)

  col1  col3
0    a     2
1    b     4

In [33]:
df.transform({'col2' : [lambda x : x**2, lambda x : x+1]})

      col2
  <lambda> <lambda>
0        0        1
1        1        2
2        4        3
3        9        4
4       16        5

In [36]:
def f(x):
    return x**2

def g(x):
    return x+1

df.transform({'col2' : [f, g]}) # Si on passe des lambdas les colonnes s'appeleront lambda

# transform ne s'applique pas à un GroupBy object

  col2
     f  g
0    0  1
1    1  2
2    4  3
3    9  4
4   16  5

In [32]:
df.transform([lambda x : x**2, lambda x : x+1]) # comment devine-t-il ?

      col2
  <lambda> <lambda>
0        0        1
1        1        2
2        4        3
3        9        4
4       16        5

la doc pandas indique assign comme équivalent de mutate : df.assign(c=df.a-df.b) eq. à mutate(df, c=a-b)
https://gist.github.com/conormm/fd8b1980c28dd21cfaf6975c86c74d07

pandas voit l'agrégation comme un cas particulier d'application de fonctions. Les fonctions le permettant se veulent à chaque fois suffisamment générales pour s'appliquer aussi bien sur une Serie, un Dataframe (ou un GroupBy object). On a à priori à explorer une combinatoire type : 
* Que ce passe-t-il si Series / DataFrame / GroupBy object en entrée
* Dans chaque cas, si la fonction passée (qui prend en entrée une unique valeur ? une Series ? un DataFrame ?), retourne une seule valeur à partir de ses inputs où un objet de même longueur d'index que l'input ?
Pour les opérations d'agrégation, on doit pouvoir se débrouiller avec : 
* apply (quoique)
* assign
* groupby
* agg / aggregate
Par construction, transform même employé avec groupby retourne un objet de même taille d'index que son input, il ne peut être utilisé pour une agrégation visant une valeur par groupe. Par ailleurs, transform n'accepte pas des fonctions ne retournant qu'une valeur à partir de leur input. A l'opposé agg impose l'utilisation de fonctions "d'agrégation" qui retournent une unique valeur.

Agrégation et indexes : 
* Index (suivant les lignes) : par défaut des variables de groupage passent en index à l'agrégation ce qui peut aboutir à un multi-index / index hiérarchique s'il y a plus d'une variable de groupage. S'en prémunir est facile : passer False à l'argument de as_index de groupby. 
* Colonnes : L'application de différentes fonctions d'agrégation à une même colonne peut entrainer l'apparition d'un index hiérarchique au niveau des colonnes. Aplanir cet index n'est pas aussi simple.

Multi-indexes : 
"The MultiIndex object is the hierarchical analogue of the standard Index object which typically stores the axis labels in pandas objects. You can think of MultiIndex as an array of tuples where each tuple is unique."

In [66]:
df.groupby('col1', as_index=False).agg({'col3' : max})

  col1  col3
0    a     2
1    b     4

In [169]:
df_mult = df.groupby('col1', as_index=False).agg({'col2' : {'maxcol' : max, 'mincol' : 'min'}})
df_mult

  col1   col2
       maxcol mincol
0    a      d      c
1    b      e      e

### Problème du multi-index

In [158]:
def flatten_multi_index(df, axis='columns'):
    # Attention modifie in-place, on pourrait très bien ne pas avoir de valeur de retour
    if axis == 'columns': # Controler la valeur de axis : columns ou index
        df_index = getattr(df, 'columns')
    else: 
        df_index = getattr(df, 'index')
    
    if df_index.nlevels > 1: # Assure l'idempotence
        col_labels = [[x for x in tup if x != ''] for tup in df_index.tolist()]
        new_col_index = ['_'.join(lst) for lst in col_labels]
        setattr(df, axis, new_col_index)
    
    return df

In [170]:
df_multidx_cols = df.groupby('col1', as_index=False).agg({'col2' : {'maxcol' : max, 'mincol' : 'min'}})
df_multidx_cols

  col1   col2
       maxcol mincol
0    a      d      c
1    b      e      e

In [160]:
flatten_multi_index(df_multidx_cols)

  col1 col2_maxcol col2_mincol
0    a           d           c
1    b           e           e

In [161]:
arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
          np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]


df_multidx_rows = pd.DataFrame({'col1' : np.random.randn(8)}, index=arrays)
df_multidx_rows

             col1
bar one -0.118981
    two -1.781747
baz one -0.157409
    two  1.565569
foo one  0.813729
    two -0.745084
qux one  0.326557
    two  1.580960

In [162]:
flatten_multi_index(df_multidx_rows, axis='index')

             col1
bar_one -0.118981
bar_two -1.781747
baz_one -0.157409
baz_two  1.565569
foo_one  0.813729
foo_two -0.745084
qux_one  0.326557
qux_two  1.580960

### Agregation
On ne s'intéresse qu'à la combinaison groupby + agg, agg ne prenant en argument au choix : 
* Une string function name
* Une fonction
* Une liste de fonctions
* Un dictionnaire avec une clé par colonne à agréger (cette situation va créer un multi-index pour les colonnes), les valeurs pouvant être à leur tour :
    * Une string function name
    * Une fonction
    * Une liste de fonctions
    * Un dictionnaire où les clés sont les noms à donner des nouvelles colonnes crées par chaque agrégation et les valeur une string function name ou une fonction (depreciation warning)
    
Chaque fonction doit prendre en argument une Serie et la réduire à une seule valeur.

In [164]:
df.groupby('col1', as_index=False).agg({'col2' : {'maxcol' : max, 'mincol' : 'min'}})

  col1   col2
       maxcol mincol
0    a      d      c
1    b      e      e

GroupBy object est en fait un itérable dont chaque élément correspond à un tuple contenant le nom (unique) du groupe et une Series/DataFrame avec tous les enregistrements du groupe.

Remarque : groupby() peut prendre une fonction en argument. Cette fonction peut servir à générer la où les colonnes de groupage si elles ne préexistent pas dans la table. La fonction doit pouvoir associer à chaque valeur d'une colonne une nouvelle valeur.

Méthodes utiles du GroupBy object : 
* size() : qui donne le nombre de lignes par groupe et à ne pas confondre avec count() qui retroune pour chaque groupe et chaque colonne, le nombre de valeurs différentes de NaN.
* describe() : qui donne des statistiques descriptives par groupe
* Des méthodes d'agrégation basiques (qui économisent le recours à .agg) : min, max, sum, count, mean, std, var, first, last, nth. Certaines de ces méthodes (sum, mean, std) ont des implémentations optimisées Cython.
* filter() : permet de ne garder que les groupes pour lesquels l'output de la fonction passée à la méthode est True. Cette fonction doit prendre le DataFrame/Serie du groupe et retourner un booléen.

Utilisation de groupby + apply : dans la majorité des cas d'usage, on peut se ramener à une utilisation de groupby + agg (Ex1) ou de groupby + transform. Le recours à groupby + apply n'intervient qu'exceptionnellement quand les restriction imposées par les deux solutions précédentes ne permettent pas de résoudre notre problème, ie : si la fonction appliquée à chaque groupes ne retourne ni une seule valeur (comme imposé par agg) si un objet de même longueur (comme imposé par transform). groupby + apply vient à la rescousse pour les situations intermédiares.

Ex1 : Les deux solutions ci-dessous fonctionnent, mais celle avec first sont plus attendues et claires 
df.groupby('col1', as_index=False).apply(lambda x : x.head(1))
df.groupby('col1', as_index=False).first()
df.groupby('col1', as_index=False).agg('first')

Remarque : pour que les résultats soient parfaitement identiques, il faut supprimer le multi-index crée par groupby + apply.

Ex : df.groupby('A')['C'].apply(lambda x: x.describe())

Rappel : apply prend en argument des fonction qui s'appliquent au DataFrame/Series entier.

assign
assign s'applique à un DataFrame et ne peut donc être directement appliquée après groupby. Il faut alors recourir à apply avec une syntaxe finalement assez lourde : df.groupby('A').apply(lambda x : x.assign(...))

In [198]:
# Attention, la fonction passée à apply (qui retrourne une Series ou un DataFrame) ne s'applique pas au DataFrame mais (ici) à chaque colonne (Series) 

dt = df.groupby('col1', as_index=False).apply(lambda x : x.head(1))
dt.index = dt.index.droplevel()
dt.reset_index(drop=True)
# https://pandas.pydata.org/pandas-docs/version/0.18.0/generated/pandas.MultiIndex.droplevel.html

  col1 col2  col3
0    a    c     0
1    b    e     3

In [208]:
df.groupby('col1', as_index=False).agg(lambda x : x[0,:])

  col1
0    a
1    b

## assign vs transform vs apply(lambda x : complex_func(x)) dans la création de nouvelle colonnes ?

Pouvait-on éviter (il y a un groupby mais même sans celui-ci peut-on s'épagner 
```python
def establish_departure_date(my_df):
    dep_date = my_df['time'].min()
    my_df['departure_year'] = dep_date.year
    my_df['departure_month'] = dep_date.month
    my_df['departure_day'] = dep_date.day
    my_df['departure_hour'] = dep_date.hour
        
    return my_df

df = df.groupby(['FSEQ', 'FILE']).apply(lambda x: establish_departure_date(x))
```


Plus les problèmes liés ici à ce que la création de colonnes se fait in-place / que Python fait du call-by object?

* ```transform``` par la forme qu'elle impose à ses arguments, n'autorise des opérations que sur les colonnes déjà existantes. Plus restrictif, la fonction de transformation ne peut s'appliquer qu'à la colonne à transformer. On ne peut pas faire d'opérations du type col3 = col2 + col3, ces colonnes préexistant dans le df. 
Remarque : transform prend en argument des fonctions agissant sur des Series et retournant des Series. Sa forme la plus simple (transform(func)) n'est pas identique à applymap qui applique une fonction à chaque élément du DataFrame qui lui est passé en entrée. La fonction devant associer à une valeur élémentaire une autre valeur élémentaire.
* ```assign``` : semble être ce qui se rapproche le plus de mutate en R. Permet de modifier des colonnes existantes de façon plus complexes qu'avec transform grace au fait que les fonctions à passer s'appliquent au DataFrame et non à une seule colonne. On peut également et dans le même temps créer de nouvelles colonnes. Attention, en dessous de Python 3.6, on ne peut créer une nouvelle colonne et s'en servir dans une autre opération à l'intérieur du même assign. assign ne fonctionne pas sur un GroupBy object : il n'y a donc pas de combinaison groupby+assign.
* ```apply``` ne semble utile que pour des transformation particulières qui ne sont ni une mutation, ni une agrégation ou de moins habituelles applications de fonctions par ligne.

In [16]:
df.assign(**{'col4' : lambda x : x['col2'] + str(max(x['col3'])),
             'col3' : lambda x : x['col3'] + 1,
             'col1' : lambda x : x['col1'] + x['col2']})

  col1 col2  col3 col4
0   ac    c     1   c4
1   ac    c     2   c4
2   ad    d     3   d4
3   be    e     4   e4
4   be    e     5   e4

Un vrai groupby+mutate de R doit passer par assign (apply étant en fait moins flexible puisqu'il s'agit d'appliquer une fonction à chaque colonne et d'en retrouner le résultat sous la forme d'un DataFrame).

In [24]:
df.groupby('col1')['col3'].transform(max)

0    2
1    2
2    2
3    4
4    4
Name: col3, dtype: int64

In [25]:
df.assign(**{'col4' : lambda x : x.groupby('col1')['col3'].transform(max)})
# Utiliser transform : cela garantie que la Serie retournée est de la bonne longueur
# Alternative possible pour créer ce genre de colonnes : groupby + apply avec une fonction applicant .transform à chaque sous-df.
# Moins séduisant : on doit écrire une fonction qui agit sur le df qu'on lui passe, on a vite fait d'oublier de copier l'input.

  col1 col2  col3  col4
0    a    c     0     2
1    a    c     1     2
2    a    d     2     2
3    b    e     3     4
4    b    e     4     4

In [26]:
def establish_departure_date(my_df):
    min_val = my_df['col3'].min()
    my_df['col4'] = my_df['col3'] + min_val
    return my_df

df.groupby(['col1']).apply(lambda x: establish_departure_date(x))

  col1 col2  col3  col4
0    a    c     0     0
1    a    c     1     1
2    a    d     2     2
3    b    e     3     6
4    b    e     4     7

Il **semble ici** que la fonction passée à apply s'applique au DataFrame. On peut alors mettre dans le corps de la fonction tout ce qu'on aurait mis dans le assign mais : 
* C'est à mon sens moins propre
* assign fait une copie (ce qui a certes un coût) là où créer des nouvelles colonnes par assignation modifie le DataFrame inplace. On risque des sides effects incontrolables.

"With apply we assume that the object that calls apply has subcomponents that will each get passed to the callable that was passed to apply. In the context of a groupby the subcomponents are slices of the dataframe that called groupby where each slice is a dataframe itself. This is analogous for a series groupby." 
=> groupBy + apply : la fonction sera appliquée à tous les sous-df et doit donc pouvoir prendre un df en argument.
=> apply seul : la fonction sera appliquée à chaque colonne du df (Series) et doit donc pouvoir prendre une Series en arg.


Noter les df = df.copy()
https://tomaugspurger.github.io/method-chaining
https://stackoverflow.com/questions/27673231/why-should-i-make-a-copy-of-a-data-frame-in-pandas
Pour PySpark
https://medium.com/@mrpowers/chaining-custom-pyspark-transformations-4f38a8c7ae55

Remarque : les Series possèdent une méthode apply mais aussi une méthode map (contrairement aux DataFrames). La méthode map permet de facilement recoder une colonne à l'aide d'un dictionnaire dans les cas simples ou d'une fonction si la mise en correspondance entre anciennes et nouvelles valeurs est plus complexe.
Remarque : le recodage suppose juste qu'on puisse appliquer la fonction de recodage valeur par valeur. On peut donc utiliser map ou apply pour les series, applymap pour un dataframe.

apply est similaire à map dans le sens où elle la fonction à appliquée à chaque valeur individuellement (*element wise*). apply offre juste un peu de flexibilité : map prend la fonction à appliquer tel quelle, apply permet de lui passer des arguments. La différence est utile si notre fonction à appliquer prend plusieurs arguments : map impose l'usage de partial alors que apply 

```python
# create new column
train['Sex_num'] = train.Sex.map({'female':0, 'male':1})
```

In [11]:
df

  col1 col2  col3
0    a    c     0
1    a    c     1
2    a    d     2
3    b    e     3
4    b    e     4

In [22]:
for name, dfg in df.groupby('col1', as_index=False): 
    print  name
    display(dfg)

a

  col1 col2  col3
0    a    c     0
1    a    c     1
2    a    d     2

b

  col1 col2  col3
3    b    e     3
4    b    e     4

In [16]:
df.groupby('col1', as_index=False).apply(max)

  col1 col2  col3
0    a    d     2
1    b    e     4

In [30]:
# Remarque : a[:] fait une shallow copy 
# Attention : df.copy() est équivalent à df.copy(deep=True) : la deep copy est active par défaut

def someFunc(mydf):
    print id(mydf)
    mydf = mydf.copy(deep=False)
    print id(mydf)
    mydf['col4'] = 1
    return mydf
    
df2 = someFunc(df)
df['col3'] = 'xxx'
display(df2)
display(df)
print id(df['col3'])
print id(df2['col3'])
print id(df2['col4'])

140149526753616
140149522860176

  col1 col2 col3  col4
0    a    c  xxx     1
1    a    c  xxx     1
2    a    d  xxx     1
3    b    e  xxx     1
4    b    e  xxx     1

  col1 col2 col3
0    a    c  xxx
1    a    c  xxx
2    a    d  xxx
3    b    e  xxx
4    b    e  xxx

140149526754064
140149522859472
140149522860112

Remarque : Quand on utilise une fonction pandas avec inplace=True (ex: ```df.sort_values('a', inplace=True)```), la transformation est exécutée et peut être vue comme un effet de bord de la fonction qui d'ailleurs retourne None (contre un nouveau DataFrame quand ```inplace=False``` qui est la valeur par défaut quand l'argument est disponible). Avec ```inplace=False```, tout se passe comme si les DataFrames étaient immutables ce qui apporte une sécurité pour créer des pipes de fonctions agissant à tour de rôle sur notre DataFrame de données. Par ailleurs, avec ```inplace=True```, notre fonction ne retournerait rien et ne pourrait donc pas être utilisée dans un pipe (sauf à faire un truc sale comme ```return df``` où il ne serait alors plus facilement visible que la fonction agit ```inplace```).

```Serie``` $\to$ ```Serie```

rowwise apply : Utiliser apply pour ce genre d'opération n'est pas une bonne pratique. apply peut rapidement devenir lent quand la taille du DataFrame augmente, il y a pas mal d'overhead puisque apply va créer un nouvel objet Series par ligne. Mieux vaut écrire sa propre fonction prenant le DataFrame en argument et qui réalise l'opération de façon vectorisée et la passer à pipe (si elle retourne un DataFrame) ou l'utiliser dans un assign (si elle ne retourne qu'une Series).
https://stackoverflow.com/questions/33518124/how-to-apply-a-function-on-every-row-on-a-dataframe
https://ys-l.github.io/posts/2015/08/28/how-not-to-use-pandas-apply/
https://www.datisticsblog.com/2018/08/r2py_pandas/

In [33]:
df

  col1 col2  col3
0    a    c     0
1    a    c     1
2    a    d     2
3    b    e     3
4    b    e     4

In [35]:
# Remarque : le moyen ci-dessous est vectorisé. On utilise pas apply(axis=1)
def add_cols(df):
    return df['col1'] + df['col2']

df.assign(**{'col4' : add_cols})

  col1 col2  col3 col4
0    a    c     0   ac
1    a    c     1   ac
2    a    d     2   ad
3    b    e     3   be
4    b    e     4   be

Les problématiques abordées dans ce notebook explorent comment ajouter de nouvelles colonnes, modifier des colonnes existantes et plus largement quels outils ```pandas``` met à disposition pour appliquer des fonctions à un DataFrame qu'elle soient 
d'agrégation ou non, qu'elles agissent valeur par valeur, sur des colonnes (Series) ou sur le DataFrame lui-même.

Dis autrement : dans la manipulation de données structurée on veut 
* Appliquer une fonction à chaque élément d'une colonne ou d'un groupe de colonne pour retourner une colonne (de même longeur)
* Créer ou modifier une colonne par évaluation d'une fonction d'une ou plusieur colonnes. Il est sous-entendu que les opération s'écrivent et s'exécutent de façon vectorisée.
* Appliquer une fonction au DataFrame dans son ensemble pour retourner un DataFrame d'autant de lignes, d'une seule ligne (aggrégation) ou d'un nombre de lignes intermédiaire. 
* Réaliser les opérations ci-dessus sur des sous-DataFrames définis par des variables de groupage.


Le but est également de mettre en avant toutes les façons permettant de chaîner ses traitements et d'éviter le plus possible des expressions type  ```df['myCol'] = ...```.

Approche fonction par fonction :
* ```apply``` : apply est sans doute la plus générale et permet notamment d'appliquer des fonctions rowwise.
* ```transform```
* ```assign```
* ```agg``` ou ```aggregate```
*
*
*

Comment on fait pour un truc type dplyr + purr (qui étaient une meilleure pratique que rowwise)

Ajouter des exemples pour chaque bullet point

| ```R dplyr```| ```pandas```   |
|------|------|
| ``` df %>% mutate(...)```| &#8226; **```df.transform()```** - **Restrictif** - On ne peut modifier que les colonnes existantes et seulement à l'aide de fonctions de la colonne à modifier. C'est la conséquence que ```transform``` ne prend que des fonction qui à une Serie associe une Serie, l'input ne peut donc être que la colonne à modifier. ```transform``` impose que les fonctions qui lui sont passées retournent un objet de même longueur. De plus, ```transform``` va écraser la colonne d'input avec la nouvelle colonne produite.<br>&#8226; **```df.assign()```** : Cette fonction est la plus proche du ```mutate``` de ```dplyr```. Elle permet de réaliser des modification de colonnes existantes plus complexes qu'avec ```transform```. On peut en même temps créer de nouvelles colonnes. Il n'y a pas de limite au nombre de colonnes à créer/modifier. On passe à ```assign``` un dictionnaire dont les clés sont les noms des colonnes à créer / modifier et les valeurs des fonctions (qui à un DataFrame associent une Serie) qui produisent les nouvelles colonnes.<br>&#8226; **```df.apply()```** - **Eventuellement** - La fonction passée à apply (qui à une Serie doit associer une Serie) est appliquée à chacune des colonnes du DataFrame. Peut être pratique pour appliquer une même transformation à des groupes de colonnes sur le modèle du ```mutate_if``` ou ```mutate_at``` de ```dplyr```.|
| ``` df %>% groupby(...) %>% mutate(...)``` | &#8226; **```df.groupby().transform()```** - **Restrictif** - Théoriquement possible mais peu utile en pratique car va appliquer la même fonction d'agrégation à l'ensemble des colonnes de ```df```. Les usages en dehors d'un *pipe* sont peut être un peu plus nombreux mais pas plus pratiques.<br>&#8226; **```df.assign()```** : ```assign``` ne peut pas s'appliquer directement sur un GroupBy object mais on peut aboutir à l'effet recherché en lui passant des fonctions de la forme ```lambda x : x.groupby()[].transform()```.<br>&#8226; **```df.groupby().apply()```** : Après un ```groupby```, ```apply``` va appliquer la fonction qui lui est passée à chaque sous-DataFrame (et non à chaque colonne). On va donc lui passer une fonction qui à un DataFrame va associer un DataFrame de même longueur. Cette fonction peut par exemple faire appel à ```transform``` ou ```assign``` |
| ``` df %>% groupby(...) %>% summarise(...)``` |  &#8226; **```df.groupby().agg()```** : Cette fonction est celle qui se rapproche le plus du ```summarise``` de ```dplyr```. Il s'agit de la seule fonction dédiée à l'agrégation au sens où on a plus qu'une ligne par groupe en sortie. Elle impose d'ailleurs que les fonctions qui lui sont passées soient des fonctions d'agrégation. Elle s'approche plus de la flexibilité offerte par ```dplyr::summarise``` quand on lui passe un dictionnaire permettant de réaliser différentes agrégations par colonne, chaque nouvelle colonne se voyant attribuée un nom dès cette étape. Malheureusement cette fonctionnalité souffre d'un *depreciation warning*.<br>&#8226; **```df.groupby().aggregate()```** : ```aggregate``` n'est qu'un alias pour ```agg```. Mêmes remarques que ci-dessus.<br> &#8226; **```df.groupby().apply()```** : Théoriquement possible pour une agrégation. Il faut alors que la fonction passée à ```apply``` associe à un DataFrame un autre DataFrame mais d'une seule ligne. Plus généralement, la combinaison ```groupby``` + ```apply``` est à rapprocher du ```groupby() %>% do()``` de ```dplyr``` : c'est la solution à adopter si la transformation à appliquer à chaque groupe ne retourne ni une ligne par groupe, ni un DataFrame de même taille mais un DataFrame de taille intermédiaire.|

De façon plus générale, on est pas forcément contraint d'utiliser ces fonctions là. On peut également écrire une fonction personnalisée qu'on pourra toujours intégérer dans un *pipe* de traitement grace à la fonction ```pipe```, pourvu que notre fonction prenne (au moins) en input un DataFrame et retourne un autre DataFrame.

In [27]:
myDict = {'Preprocessing' : {'params' : {'column1' : 'Nested', 'return_name' : 'Dict'}, 'function' : 'add_col_renamed', 'position' : 2.0}, 'otherStuff' : [1, 2, 3]}

In [29]:
def pprintDict(dc, i=0):
    for k, v in dc.items():
        if isinstance(v, dict):
            print '    '*i + '|-' + str(k)
            pprintDict(v, i+1)
        else:
            print '    '*i + '|-' + str(k) + ' : ' + str(v)

In [8]:
for k, v in myDict.items():
    print k + str(v) + '\n'

a1{'b1': {'c2': 'Dict', 'c1': 'Nested'}, 'b2': 'Lorem', 'b3': 'Ipsum'}

a2Hello

In [30]:
pprintDict(myDict)

|-Preprocessing
    |-function : add_col_renamed
    |-position : 2.0
    |-params
        |-return_name : Dict
        |-column1 : Nested
|-otherStuff : [1, 2, 3]